<h1>Create Candy!</h1>

<form method="POST" action="/candies">
    <input type="text" name="name" placeholder="Candy Name">
    <input type="text" name="color" placeholder="Candy Color">
    <input type="submit" class="btn" value="Create!">
</form>